@using Microsoft.Ajax.Utilities
@model IEnumerable<OutLesson.DataLayer.ObjectModels.Post>
@{
    ViewBag.Title = "#ВнеУрока";
}


<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item">
            <img class="first-slide" src="~/Content/img/blue-vintage-wallpaper-hq-resolution.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Публикация портала.</h1>
                    <p style="font-size: medium">Наконец-то наш портал домчался до своего первого релиза.</p>
                    <p><a class="btn btn-default btn-primary" href="https://vk.com/vne_uroka" role="button">Читать более подробно</a></p>
                </div>
            </div>
        </div>
        <div class="item active">
            <img class="second-slide" src="~/Content/img/blue-vintage-wallpaper-hq-resolution.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>О нас.</h1>
                    <p style="font-size: medium">Хотите более подробно узнать о нашем проекте, тогда советуем прочесть страницу "О проекте"</p>
                    <p><a class="btn btn-default btn-primary" href="/home/about" role="button">Читать</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid body-content">

    <div class=" col-sm-7 col-lg-7 blog-main">

        @if (Model != null)
        {
            foreach (var item in Model)
            {

                <div class="blog-post container-fluid">

                    <div class="col-sm-12">
                        <h3 style="margin-bottom: 5px;">@item.Title</h3>
                        <div class="text-info" style="font-size: small">
                            Дата публикации: @item.Time.Date.ToShortDateString() | Автор: @item.Autor.FullName
                        </div>
                        <div class="text-justify text-left" style="padding-top: 5px;">@Html.Raw(item.Description)</div>
                    </div>
                    <div class="col-xs-10">

                        @Html.ActionLink("Читать далее", "Details", "Blog", new { url = item.ShortUrl }, new { @class = "btn btn-default" })
                    </div>

                </div>
                <hr />}
        }
    </div>

    <div class=" col-sm-4 blog-aside">
        <div class="sidebar-module">
            <h3>Внимание!</h3>
            <p>Прошу заметить, что на данный момент вы пользуетесь предварительной версией данного продукта. Мы стараемся исправить существующие проблемы и недочеты. Но всегда можем их пропустить. Свои пожелания и предложения вы можете отправить нам на content@vneuroka.space</p>
            <div class="container-fluid">
                <p><a class="btn btn-default" href="mailto:content@vneuroka.space">Отправить &raquo;</a></p>
            </div>
        </div>
    </div>

</div>