@using Microsoft.AspNet.Identity
@using OutLesson.DataLayer.ObjectModels
@model IEnumerable<OutLesson.DataLayer.ObjectModels.Post>

@{
    ViewBag.Title = "Статьи";
}

<div class="container-fluid body-content" style="background-color: white">

    <h2>Список опубликованных статей</h2>

    <p>
        @Html.ActionLink("Написать новую", "CreatePost", "Post")
    </p>
    <table class="table">
        <tr>
            <th>
                Заголовок
            </th>
            <th>
                Ссылка
            </th>
            <th>
                Описание
            </th>
            <th>
                Дата публикации
            </th>
            <th>
                Автор
            </th>
            <th>
                Действия
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.ShortUrl
                </td>
                <td colspan="1" width="10%">
                   @item.Description.Substring(0, Math.Min(item.Description.Length, 150))
                </td>
                <td>
                    @item.Time
                </td>
                <td>
                    @item.Autor.FullName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {area = "", controller = "Blog", url = item.ShortUrl})|

                    @if (User.IsInRole("moder") | User.IsInRole("admin") | item.Autor.UserName == User.Identity.Name)
                    {
                        @Html.ActionLink("Delete", "Delete", new {url = item.ShortUrl})
                    }
                </td>
            </tr>
        }

    </table>
</div>