@model OutLesson.WebUI.Models.UserInfoModel

@{
    ViewBag.Title = "Профиль";
}

<div class="body-content container" id="Form">
    
<div class="body-content">
    <h2>Профиль пользователя</h2>
    <hr />
    <ul style="font-size: x-large;"  class="list-group">
        <li>Ваш ник: @Html.DisplayFor(model => model.User.FullName)</li>
        <li>Ваш email: @Html.DisplayFor(model => model.User.Email)</li>
        <li>Ваш возраст: @Html.DisplayFor(model => model.User.Year)</li>
        
        <li>Статьи, написанные вами: 
            <ul style="font-size: medium;" class="list-group">
                @foreach (var item in @Model.UserPosts)
                {
                    <li>@Html.ActionLink(item.Title, "Details", "Blog", new { url = item.ShortUrl }, new {})</li>
                }
            </ul>
        </li>
       
        <li>
            @if (User.IsInRole("user"))
            {
                ViewBag.Role = "Пользователь";
            }
            @if (User.IsInRole("writer"))
            {
                ViewBag.Role = "Редактор";
            }
            @if (User.IsInRole("moder"))
            {
                ViewBag.Role = "moder";
            }
            @if (User.IsInRole("admin"))
            {
                ViewBag.Role = "Admin";
            }
            @if (User.IsInRole("superadmin"))
            {
                ViewBag.Role = "SuperAdmin";
            }

            Ваша роль: @ViewBag.Role
        </li>
    </ul>
    <p>Страница находится в разработке.</p>
    <div style="padding-bottom: 10px"> @Html.ActionLink("Домой", "Index", "Home", new {area = ""}, new {@class = "btn btn-default" }) </div>
</div>
</div>
