<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="blog-nav navbar navbar-inverse navbar-fixed-top" id="admin-nav">
        <div class="container-fluid" id="NavBar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="center-block" href="/admin/home/">
                    <img src="~/Content/img/Admin_logo.png"/>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="ulclas nav navbar-nav">
                    <li>@Html.ActionLink("Записи", "Index", "Home", new { area = "Admin" }, new {})</li>
                    <li>@Html.ActionLink("Пользователи", "GetUsers", "User", new { area = "Admin" }, new {})</li>
                    <li>@Html.ActionLink("Написать статью", "CreatePost", "Home", new { area = "Admin" }, new {})</li>
                </ul>
                <ul class="ulclas nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Вернуться на главную страницу", "Index", "Home", new {area = ""}, new {})</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="MainContentAdmin">
        @RenderBody()
        <hr />
        <footer class="container-fluid bottom" id="MainFooter">
            <p>&copy; @DateTime.Now.Year - Админ-панель #ВнеУрока Org.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>