@model OutLesson.WebUI.Models.UserModel

@{
    ViewBag.Title = "RegisterUser";
}


<div class="container-fluid body-content" id="RegisterForm">
    
    <div class="col-xs-7 col-xs-offset-3">
    <h2>Регистрация</h2>
    <h4>Введите данные нового маслёнка</h4>
        </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new {@class = "control-label col-xs-3"})
                <div class="col-xs-7">
                    @Html.EditorFor(model => model.FullName, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.FullName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-xs-3"})
                <div class="col-xs-7">
                    @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new {@class = "control-label col-xs-3"})
                <div class="col-xs-7">
                    @Html.EditorFor(model => model.Year, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Year, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-xs-3"})
                <div class="col-xs-7">
                    @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new {@class = "control-label col-xs-3"})
                <div class="col-xs-7">
                    @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>



            <div class="form-group">
                <div class="col-xs-7 col-xs-offset-3">
                    <input type="submit" value="Просто зарегистрируй его!" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }
        </div>