@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" type="text/css" />
</head>
<body>
    <div class="blog-nav navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" id="NavBar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("#ВнеУрока", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="ulclas nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>

                <ul class="ulclas nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName(), "Index", "Account")</li>
                        <li>@Html.ActionLink("Предложить статью","Offerpost", "Blog")</li>
                        <li>@Html.ActionLink("Выйти", "LogOut", "Account")</li>}
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Войти", "Login", "Account")</li> }
                </ul>
            </div>
        </div>
    </div>
    <div id="MainContent">
        @RenderBody()
        <hr />
    </div>
    <footer class="container-fluid bottom" id="MainFooter">

        <p>&copy; @DateTime.Now.Year – #ВнеУрока Org.</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
